
li {
    background-color: darkseagreen;
    padding: 15px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 10px;
}
ul{
    list-style: none;
    width: 50%;
}
.wi{
    width: 50%;
}

@media (min-width: 500px) {
   ul{
    width: 75%;
   }
   .wi{
    width: 50%;
}
  }